.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root {
    --color-primary-500: hsl(158, 36%, 37%);
    --color-primary-700: hsl(158, 42%, 18%);
    --color-neutral-black: hsl(212, 21%, 14%);
    --color-neutral-grey: hsl(228, 12%, 48%);
    --color-neutral-cream: hsl(30, 38%, 92%);
    --color-neutral-white: hsl(0, 0%, 100%);

    --font-family-montserrat: 'Montserrat', sans-serif;
    --font-family-fraunces: 'Fraunces', serif;

    --font-weight-500: 500;
    --font-weight-700: 700;
    --font-size-paragraph: 14px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family-montserrat);
    background-color: var(--color-neutral-cream);
}

main {
    /* Container styles */
    min-height: 100svh;
    display: grid;
    place-items: center;
    padding: 2rem;
    outline: 2px solid red;
}

.product-card {
    background-color: var(--color-neutral-white);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.product-image img {
    width: 100%;
    height: 100%;
}

.product-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-details .product-type {
    font-family: var(--font-family-montserrat);
    font-weight: var(--font-weight-500);
    margin-bottom: 10px;
    color: var(--color-neutral-grey);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.product-details .product-name {
    font-family: var(--font-family-fraunces);
    font-weight: var(--font-weight-700);
    margin-bottom: 10px;
    color: var(--color-neutral-black);
    line-height: 2rem;
}

.product-details .product-description {
    font-size: var(--font-size-paragraph);
    color: var(--color-neutral-grey);
    margin-bottom: 20px;
}

.product-details .price {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.product-details .price .product-price {
    font-family: var(--font-family-fraunces);
    font-weight: var(--font-weight-700);
    color: var(--color-primary-500);
}

.product-details .price .product-previous-price {
    font-family: var(--font-family-montserrat);
    font-weight: var(--font-weight-500);
    color: var(--color-neutral-grey);
    text-decoration: line-through;
}

.product-details .add-to-cart-button {
    width: 100%;
    background-color: var(--color-primary-500);
    color: var(--color-neutral-white);
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-family: var(--font-family-montserrat);
    font-weight: var(--font-weight-700);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.product-details .add-to-cart-button:hover {
    background-color: var(--color-primary-700);
}

@media (min-width: 600px) {
    .product-card {
        display: flex;
        flex-direction: row;
        max-width: 600px;
    }
}